//Hello. This website was developed by Kyle Spencer during the summer of 2016.
 This code is intentionally minified to save bandwidth,
 you can view most of the source code at https://github.com/kylecs/Penn-State-Beaver-DVDs.

 -Kyle Spencer
 .
