nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.pennstateblue(ng-click="selectPopular()", href="") Penn State Beaver DVDs
    //-Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.dropdown
          a.dropdown-toggle(href="", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
            | Sort by
            span.caret
          ul.dropdown-menu
            li.active#selectPopular
              a(href="", ng-click="selectPopular()") Popular
            li#selectTopRated
              a(href="", ng-click="selectTopRated()") Top Rated
            li#selectNew
              a(href="", ng-click="selectNew()") New
            li#selectAlpha
              a(href="", ng-click="selectAlpha()") Alphabetical
        li#selectSeries
          a(href="", ng-click="selectSeries()") TV Series
        li.dropdown
          a.dropdown-toggle(href="", data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            | Categories
            span.caret
          ul.dropdown-menu
            li(ng-repeat='category in categories')
              a(ng-click="selectCategory(category)") {{ category }}

        form.navbar-form.navbar-left(role="search")
          .input-group
            input.form-control(type="text", placeholder="Search Titles", ng-model="searchTerm")
            span.input-group-btn
              button.btn.btn-default(type="submit", ng-click="executeSearch()") Search

      ul.nav.navbar-nav.navbar-right
        li.dropdown(ng-if="loggedin")
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            | Admin
            span.caret
          ul.dropdown-menu
            li
              a.center(type='button', data-toggle='modal', data-target='#addMovieModal', href="#") Add DVD
            li
              a.center(type='button', ng-click="logout()") Logout
        li(ng-if="!loggedin")
          a(ng-click="requestLoginPrompt()", role="button") Login
