extends layout.pug
block head
  title Penn State Beaver DVDs
block content
  div(ng-controller="listingController")
    .searchResults(ng-if="showingSearch")
      .row
        .col-md-12.pagetitle
          span.glyphicon.glyphicon-remove-sign.searchClose(ng-click="removeSearch()")
          span Search Results: {{ searchTerm }}
      .row(ng-repeat="chunk in searchChunks", style="margin-top: 3%;")
        .col-sm-3.moviecol.mobilepadding(ng-repeat="movie in chunk")
          .movieBox(ng-if="movie.title", ng-click="selectMovie(movie)", data-toggle="tooltip", data-container=".movieBox"
            data-placement="top", ng-attr-title="{{ movie.title }}. Click to expand.")
            p.movieTitle {{ movie.title }}
            .movieImgBox
              img.movimg(ng-src="{{ movie.imgurl }}")
    div(ng-if="!showingSearch")
      .row
        span.col-md-12.pagetitle {{ currentPage.title }}
        span.col-md-12.pagedescription(ng-if="currentPage.description") {{ currentPage.description }}
      include includes/listings.pug
      div(ng-if="!currentPage.failed")
        .row(ng-if="currentPage.canLoadMore")
          .col-md-12.loadmore(ng-if="!currentPage.loading")
            a(ng-click="loadMore()") Load More
          .col-md-12.loading(ng-if="currentPage.loading")
            img.loadImg(src="/public/imgs/loading.gif")
        .row.endmessage(ng-if="!currentPage.canLoadMore")
          .col-md-12
            p No more content to load
      div(ng-if="currentPage.failed")
        .row.errormessage
          .col-md-12
            p Couldn't load content!
              a(href="javascript:location.reload();") (reload page)
